* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.row{
    padding-left:15%;
    width:85vw;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
header{
    width:100%;
    background:#57555a;
}
header img{
    width:100%;
    margin:0 auto;
    
}
.menu{
    width:100%;
    background-color: #0099cc;
    margin-top:0px;
}
nav div{
    display:table; 
    font-size:1.5em;  
}
nav a  {
    padding: 8px;
    margin-bottom: 7px;
    text-decoration:none;
    color: #ffffff;
}
nav a:hover {
    color:#57555a;
}
section{
    padding: left 45px right 40px;
    font-size:1.1em;
}
section p{
    text-align: justify;
}
li img{
    width:90px;
    padding: 15px 10px 0px 10px;
  }
.flex-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
.flex-grid .col, {
    flex: 1;
    padding: 20px;
    margin: 0 auto;
  }
flex-box,col{
    box-sizing: border-box;
  }
footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: left;
    font-size: 1.2em;
    padding: 15px;
}
ul{
    list-style-type:none;
    padding-left:0px;
}
li{
    margin-top:10px;
}
iframe{
   width:140px;
  margin:0 auto; 
   align-self:left ;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    zoom:normal;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
img{
    width:90px;
    padding: 15px 10px 0px 10px;
  }
  
  
  


