* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    
     width:100%;
    background:#57555a;
    align-content: center;
}
main{
    align-content: center;
}
ul{
    list-style-type: none;
    display: table;
}
li{
    margin-top: 5px;
}
.bookCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}